.section-green{
   background-color:  #00544f;
}

.section-button-g{
    background-color: #70e0b4;
}


.section-brown{
    background-color:  #e1d8c0;
 }

 .section-button-b{
    background-color:#cbb46d;
}



.section-black{
    background-color:#1a1a1a ;
 }


 .homeHero__heading {
    font-weight: 300;
    color: #1e1e1c;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(15px);
    transition: opacity .75s ease-in-out,transform .75s ease-in-out;
    transition-delay: 0s;
}